<div class=" my-5" >
  <footer class="text-center text-lg-start" style="background-color: #343a40; width: 100%;">
     <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 footer-clr" style="background-color:  rgba(0, 0, 0, 0.2);">
        <a href="#" class="fa fa-facebook"></a>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: rgba(0, 0, 0, 0.2);">
        <a href="#" class="fa fa-twitter"></a>
        </button>
        <button type="button" class="btn btn-primary btn-lg  mx-2" style="background-color:  rgba(0, 0, 0, 0.2);">
        <a href="#" class="fa fa-google"></a>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color:  rgba(0, 0, 0, 0.2);">
        <a href="#" class="fa fa-linkedin"></a>
        </button>
     </div>
     <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white" href="http://localhost:4200/home">Women's Achievements.com</a>
     </div>
  </footer>
</div>