<nav class="bg-dark navbar-dark">
  <div class="container"> 
  </div>
</nav>
<div id="header" class="jumbotron text-center">
  <h1 class="text-1">Women’s Achievements</h1>
</div>
<section id="gallery">
  <div class="container">
     <div class="row">
        <div class="col-lg-4 mb-4">
           <div class="card">
              <img src="./assets/images/anandhi gopalarao jhoshi.jpg" alt="" class="card-img-top">
              <div class="card-body">
                 <h5 class="card-title">Anandibai Gopalrao Joshi</h5>
                 <p class="card-text">Anandibai Gopalrao Joshi became the first Indian female physician in the year 1887. </p>
              </div>
           </div>
        </div>
        <div class="col-lg-4 mb-4">
           <div class="card">
              <img src="./assets/images/priya jhingan.jpg">
              <div class="card-body">
                 <h5 class="card-title"> Priya Jhingan</h5>
                 <p class="card-text">Priya Jhingan  became the first lady cadet to join the Indian Army in 1993.</p>
              </div>
           </div>
        </div>
        <div class="col-lg-4 mb-3">
           <div class="card">
              <img src="./assets/images/mary kom-1.jpg" alt="" class="card-img-top" height="190px">
              <div class="card-body">
                 <h5 class="card-title">Mary Kom</h5>
                 <p class="card-text">Mary Kom  the first Indian woman boxer to win a gold medal in Asian Games in 2014.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
